[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=SailOTP
Icon=harbour-sailotp
Exec=harbour-sailotp

[X-Sailjail]
Permissions=UserDirs;RemovableMedia
OrganizationName=org.seiichiro0185
ApplicationName=harbour-sailotp
